extends ../layouts/main

block content
  h1 All Users
  
  .users-grid
    each user in users
      .user-card
        .user-avatar #{user.name.charAt(0)}
        h3
          a(href=`/users/${user.id}`) #{user.name}
        p.user-email #{user.email}
        if user.phone_number
          p.user-phone #{user.phone_number}
        a.btn(href=`/users/${user.id}`) View Profile 