extends ../layouts/main

block content
  .profile-container
    .profile-header
      .profile-avatar #{user.name.charAt(0)}
      .profile-info
        h1 #{user.name}
        p.user-email #{user.email}
        if user.phone_number
          p.user-phone #{user.phone_number}
    
    .profile-sections
      if rides && rides.length > 0
        .profile-section
          h2 Rides Offered
          .rides-list
            each ride in rides
              .ride-item
                h3 #{ride.origin} to #{ride.destination}
                p
                  strong Departure: 
                  | #{new Date(ride.departure_time).toLocaleString()}
                p
                  strong Available Seats: 
                  | #{ride.available_seats}
                p
                  strong Price: 
                  | $#{ride.price}
                a.btn(href=`/rides/${ride.id}`) View Details
      
      if bookings && bookings.length > 0
        .profile-section
          h2 Bookings Made
          .bookings-list
            each booking in bookings
              .booking-item
                h3 #{booking.origin} to #{booking.destination}
                p
                  strong Departure: 
                  | #{new Date(booking.departure_time).toLocaleString()}
                p
                  strong Seats Booked: 
                  | #{booking.seats_booked}
                p
                  strong Total Price: 
                  | $#{booking.total_price}
    
    .profile-actions
      a.btn(href='/users') Back to Users