extends ../layouts/main

block content
  h1 Available Rides
  
  if tags && tags.length > 0
    .tag-filters
      a.tag-filter(href='/rides', class=!tagFilter ? 'active' : '') All
      each tag in tags
        a.tag-filter(href=`/rides?tag=${tag.id}`, class=tagFilter === tag.id ? 'active' : '') #{tag.name}
  
  .rides-grid
    each ride in rides
      .ride-card
        .ride-header
          h3
            a(href=`/rides/${ride.id}`) #{ride.origin} to #{ride.destination}
          .driver-info
            .driver-avatar #{ride.driver_name.charAt(0)}
            span #{ride.driver_name}
        
        .ride-details
          p
            strong Departure: 
            | #{new Date(ride.departure_time).toLocaleString()}
          p
            strong Available Seats: 
            | #{ride.available_seats}
          p
            strong Price: 
            | $#{ride.price}
        
        .ride-actions
          a.btn(href=`/rides/${ride.id}`) View Details 